/***Custom Properties***/

:root {

    --clr-light: #f5f5f5;
    --clr-dark: #262626;
    --clr-compliment: #ff6753;
    --clr-first: #CBE0EE;
    --clr-third: #ffc600;
    --clr-fourth: #5C89E1;

}


/***General styles***/

html {
    scroll-behavior: smooth;;
}


/***BODY SECTION***/

.sectionTitle-intro {
    text-align: center;
    font-size: 48px;
}

.logoPositioning {
    display: flex;
    justify-content: center;
    margin-top: 6%;
}

.companyLogo-Landing {
    width: 284px;
    height: 284px;
}

.searchbar {
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.fa-search {
    font-size: 16px
}

.stepProcess {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.step1 {
    margin-left: 1%;
    margin-right: 1%;
}

.step2 {
    margin-left: 1%;
    margin-right: 1%;
}

.step3 {
    margin-left: 1%;
    margin-right: 1%;
}

.step4 {
    margin-left: 1%;
    margin-right: 1%;
}